:root {
    --vamtam-default-bg-color: #fff;
    --vamtam-default-line-color: rgba( var( --vamtam-accent-color-7-rgb), 1);
    --vamtam-small-padding: 20px;
    --vamtam-horizontal-padding: 50px;
    --vamtam-vertical-padding: 30px;
    --vamtam-horizontal-padding-large: 60px;
    --vamtam-vertical-padding-large: 60px;
    --vamtam-no-border-link: none;
    --vamtam-border-radius: 0px;
    --vamtam-border-radius-oval: 0px;
    --vamtam-border-radius-small: 0px;
    --vamtam-overlay-color: #000000;
    --vamtam-overlay-color-hc: #ffffff;
    --vamtam-box-outer-padding: 60px;
    --vamtam-body-link-regular: #000000;
    --vamtam-body-link-visited: #000000;
    --vamtam-body-link-hover: #FC5220;
    --vamtam-body-link-active: #FC5220;
    --vamtam-input-border-radius: 0px 0px 0px 0px;
    --vamtam-input-border-color: #E6E9EB;
    --vamtam-btn-text-color: #FFFFFF;
    --vamtam-btn-hover-text-color: #FFFFFF;
    --vamtam-btn-bg-color: #191817;
    --vamtam-btn-hover-bg-color: #FC5220;
    --vamtam-site-max-width: 1280px;
    --vamtam-primary-font-color: #000000CC;
    --vamtam-h1-color: #000000;
    --vamtam-h2-color: #000000;
    --vamtam-h3-color: #000000;
    --vamtam-h4-color: #000000;
    --vamtam-h5-color: #000000;
    --vamtam-h6-color: #000000;
    --vamtam-accent-color-1: #FC5220;
    --vamtam-accent-color-1-hc: #FFFFFF;
    --vamtam-accent-color-1-rgb: 252, 82, 32;
    --vamtam-accent-color-2: #F7F7F7;
    --vamtam-accent-color-2-hc: #000000;
    --vamtam-accent-color-2-rgb: 247, 247, 247;
    --vamtam-accent-color-3: #2B2B2B;
    --vamtam-accent-color-3-hc: #FFFFFF;
    --vamtam-accent-color-3-rgb: 43, 43, 43;
    --vamtam-accent-color-4: #191817;
    --vamtam-accent-color-4-hc: #FFFFFF;
    --vamtam-accent-color-4-rgb: 25, 24, 23;
    --vamtam-accent-color-5: #FFFFFF;
    --vamtam-accent-color-5-hc: #000000;
    --vamtam-accent-color-5-rgb: 255, 255, 255;
    --vamtam-accent-color-6: #000000;
    --vamtam-accent-color-6-hc: #FFFFFF;
    --vamtam-accent-color-6-rgb: 0, 0, 0;
    --vamtam-accent-color-7: #E6E9EB;
    --vamtam-accent-color-7-hc: #000000;
    --vamtam-accent-color-7-rgb: 230, 233, 235;
    --vamtam-accent-color-8: #E6E9EB4D;
    --vamtam-accent-color-8-hc: #FFFFFF;
    --vamtam-accent-color-8-rgb: 238, 102, 238;
    --vamtam-sticky-header-bg-color: #FFFFFF;
    --vamtam-primary-font-font-family: 'Manrope';
    --vamtam-primary-font-font-weight: 400;
    --vamtam-primary-font-font-style: normal;
    --vamtam-primary-font-transform: none;
    --vamtam-primary-font-font-size-desktop: 16px;
    --vamtam-primary-font-font-size-tablet: 16px;
    --vamtam-primary-font-font-size-phone: 16px;
    --vamtam-primary-font-line-height-desktop: 1.4em;
    --vamtam-primary-font-line-height-tablet: 1.4em;
    --vamtam-primary-font-line-height-phone: 1.5em;
    --vamtam-primary-font-letter-spacing-tablet: 0px;
    --vamtam-primary-font-letter-spacing-phone: 0px;
    --vamtam-h1-font-family: 'Manrope';
    --vamtam-h1-font-weight: 700;
    --vamtam-h1-font-style: normal;
    --vamtam-h1-transform: uppercase;
    --vamtam-h1-font-size-desktop: 70px;
    --vamtam-h1-font-size-tablet: 50px;
    --vamtam-h1-font-size-phone: 31px;
    --vamtam-h1-line-height-desktop: 1.1em;
    --vamtam-h1-line-height-tablet: 1em;
    --vamtam-h1-line-height-phone: 1em;
    --vamtam-h1-letter-spacing-tablet: 0px;
    --vamtam-h1-letter-spacing-phone: 0px;
    --vamtam-h2-font-family: 'Manrope';
    --vamtam-h2-font-weight: bold;
    --vamtam-h2-font-style: normal;
    --vamtam-h2-transform: uppercase;
    --vamtam-h2-font-size-desktop: 50px;
    --vamtam-h2-font-size-tablet: 35px;
    --vamtam-h2-font-size-phone: 25px;
    --vamtam-h2-line-height-desktop: 1.2em;
    --vamtam-h2-line-height-tablet: 1.1em;
    --vamtam-h2-line-height-phone: 1.1em;
    --vamtam-h2-letter-spacing-tablet: 0px;
    --vamtam-h2-letter-spacing-phone: 0px;
    --vamtam-h3-font-family: 'Manrope';
    --vamtam-h3-font-weight: 700;
    --vamtam-h3-font-style: normal;
    --vamtam-h3-transform: uppercase;
    --vamtam-h3-font-size-desktop: 44px;
    --vamtam-h3-font-size-tablet: 28px;
    --vamtam-h3-font-size-phone: 22px;
    --vamtam-h3-line-height-desktop: 1.1em;
    --vamtam-h3-line-height-tablet: 1.1em;
    --vamtam-h3-line-height-phone: 1.1em;
    --vamtam-h3-letter-spacing-tablet: 0px;
    --vamtam-h3-letter-spacing-phone: 0px;
    --vamtam-h4-font-family: 'Manrope';
    --vamtam-h4-font-weight: 700;
    --vamtam-h4-font-style: normal;
    --vamtam-h4-transform: uppercase;
    --vamtam-h4-font-size-desktop: 38px;
    --vamtam-h4-font-size-tablet: 24px;
    --vamtam-h4-font-size-phone: 19px;
    --vamtam-h4-line-height-desktop: 1.2em;
    --vamtam-h4-line-height-tablet: 1.2em;
    --vamtam-h4-line-height-phone: 1.2em;
    --vamtam-h4-letter-spacing-tablet: 0px;
    --vamtam-h4-letter-spacing-phone: 0px;
    --vamtam-h5-font-family: 'Manrope';
    --vamtam-h5-font-weight: 700;
    --vamtam-h5-font-style: normal;
    --vamtam-h5-transform: uppercase;
    --vamtam-h5-font-size-desktop: 24px;
    --vamtam-h5-font-size-tablet: 19px;
    --vamtam-h5-font-size-phone: 17px;
    --vamtam-h5-line-height-desktop: 1.2em;
    --vamtam-h5-line-height-tablet: 1.1em;
    --vamtam-h5-line-height-phone: 1.1em;
    --vamtam-h5-letter-spacing-tablet: 0px;
    --vamtam-h5-letter-spacing-phone: 0px;
    --vamtam-h6-font-family: 'Manrope';
    --vamtam-h6-font-weight: 700;
    --vamtam-h6-font-style: normal;
    --vamtam-h6-transform: uppercase;
    --vamtam-h6-font-size-desktop: 18px;
    --vamtam-h6-font-size-tablet: 17px;
    --vamtam-h6-font-size-phone: 16px;
    --vamtam-h6-line-height-desktop: 1.2em;
    --vamtam-h6-line-height-tablet: 1.2em;
    --vamtam-h6-line-height-phone: 1.2em;
    --vamtam-h6-letter-spacing-tablet: 0px;
    --vamtam-h6-letter-spacing-phone: 0px;
    --vamtam-icon-Leaf: '\e91b';
    --vamtam-icon-cone: '\e91a';
    --vamtam-icon-aloy-material: '\e914';
    --vamtam-icon-hard-hat: '\e915';
    --vamtam-icon-steel-beam: '\e916';
    --vamtam-icon-steel-cubs: '\e917';
    --vamtam-icon-steel-girder: '\e918';
    --vamtam-icon-steel-wall: '\e919';
    --vamtam-icon-download: '\e913';
    --vamtam-icon-bulb: '\e90f';
    --vamtam-icon-dustbin: '\e910';
    --vamtam-icon-light: '\e911';
    --vamtam-icon-steel-part: '\e912';
    --vamtam-icon-Line: '\e90e';
    --vamtam-icon-check: '\e90d';
    --vamtam-icon-arrow-down: '\e900';
    --vamtam-icon-arrow-left: '\e901';
    --vamtam-icon-arrow-right: '\e902';
    --vamtam-icon-close: '\e903';
    --vamtam-icon-menu: '\e904';
    --vamtam-icon-plus: '\e905';
    --vamtam-icon-search: '\e906';
    --vamtam-icon-minus: '\e907';
    --vamtam-icon-Play: '\e908';
    --vamtam-icon-cnc: '\e909';
    --vamtam-icon-Iso: '\e90a';
    --vamtam-icon-mask: '\e90b';
    --vamtam-icon-steel: '\e90c';
    --vamtam-loading-animation: url('https://fabrik.vamtam.com/wp-content/themes/fabrik/vamtam/assets/images/loader-ring.gif');

    --pennar-main_heading: clamp(25px, 5vw, 45px);
    --pennar-sub_heading: 24px;
    --pennar-text: 16px;
    --pennar-lg-text: 18px;
    --pennar-sm-text: 14px;
}

img.wp-smiley,img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.safe-svg-cover {
    text-align: center
}

.safe-svg-cover .safe-svg-inside {
    display: inline-block;
    max-width: 100%
}

.safe-svg-cover svg {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%
}

.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em
}

.wp-block-file__button {
    background: #32373c;
    color: #fff;
    text-decoration: none
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

:where(.is-layout-flex) {
    gap: 0.5em;
}

:where(.is-layout-grid) {
    gap: 0.5em;
}

body .is-layout-flow>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-flow>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-flow>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-constrained>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-constrained>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

body .is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

body .is-layout-flex>* {
    margin: 0;
}

body .is-layout-grid {
    display: grid;
}

body .is-layout-grid>* {
    margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

:where(.wp-block-columns.is-layout-grid) {
    gap: 2em;
}

:where(.wp-block-post-template.is-layout-flex) {
    gap: 1.25em;
}

:where(.wp-block-post-template.is-layout-grid) {
    gap: 1.25em;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
}

:where(.wp-block-post-template.is-layout-flex) {
    gap: 1.25em;
}

:where(.wp-block-post-template.is-layout-grid) {
    gap: 1.25em;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

:where(.wp-block-columns.is-layout-grid) {
    gap: 2em;
}

.wp-block-pullquote {
    font-size: 1.5em;
    line-height: 1.6;
}
.rll-youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.rll-youtube-player:focus-within {
    outline: 2px solid currentColor;
    outline-offset: 5px;
}

.rll-youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: 0 0
}

.rll-youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all
}

.rll-youtube-player img:hover {
    -webkit-filter: brightness(75%)
}

.rll-youtube-player .play {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(https://fabrik.vamtam.com/wp-content/plugins/wp-rocket/assets/img/youtube.png) no-repeat center;
    background-color: transparent !important;
    cursor: pointer;
    border: none;
}

.wp-embed-responsive .wp-has-aspect-ratio .rll-youtube-player {
    position: absolute;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
 /* cyrillic-ext */

 @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.elementor-1295 .elementor-element.elementor-element-5000089>.elementor-element-populated {
    padding: 30px;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.text_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text_wrapper > * {
    transform: translateY(100%);
    transform-origin: top;
    transition: transform .4s ease-in-out;
}

.main_swiper_css .swiper-slide {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.main_swiper_css .swiper-slide h1 {
    color: #fff;
}

.main_swiper_css .btns_wrapper {
    position: absolute;
    left: initial;
    top: initial;
    right: 70px;
    bottom: 120px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main_swiper_css .swiper-button-next,
.main_swiper_css .swiper-button-prev  {
    position: relative;
    left: auto;
    right: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    transition: transform .2s ease-in-out;
}

.main_swiper_css .swiper-button-next:hover,
.main_swiper_css .swiper-button-prev:hover {
    transform: scale(1.05);
}

.main_swiper_css .swiper-button-prev svg {
    transform: rotate(180deg);
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: auto;
    height: auto;
}

.main_swiper_css .swiper-button-next::after,
.main_swiper_css .swiper-button-prev::after {
    content: none;
}

.main_swiper_css .swiper-slide .img_wrapper {
    position: relative;
}

.main_swiper_css .swiper-slide .img_wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.main_swiper_css .swiper-slide .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_swiper_css .swiper-slide .content_wrapper .container-fluid {
    opacity: 0;
    bottom: 100px;
    transition: opacity .4s ease-in-out;
}

.main_swiper_css .swiper-slide .content_wrapper .container-fluid hr {
    border: none;
    width: 100%;
    opacity: .4;
    border-top: 1px solid #fff;
}

.main_swiper_css .swiper-slide .content_wrapper .container-fluid .dot {
    display: flex;
    align-items: start;
    gap: 0 7px;
    position: relative;
}

.main_swiper_css .swiper-slide .content_wrapper .container-fluid .dot::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-top: 6px;
    border-radius: 100%;
    flex-shrink: 0;
    background-color: #fff;
}

.main_swiper_css .swiper-slide .content_wrapper .container-fluid button {
    padding: 10px 30px;
    border-radius: 24px;
    position: relative;
    width: fit-content; 
    color: #fff;
    background-color: var( --e-global-color-vamtam_accent_1);
}

.main_swiper_css .swiper-slide.swiper-slide-active .content_wrapper .container-fluid .text_wrapper > *,
.main_swiper_css .swiper-slide.swiper-slide-duplicate-active .content_wrapper .container-fluid .text_wrapper > * {
    transform: translateY(0);
    transition: transform .4s ease-in-out .5s;
}

.main_swiper_css .swiper-slide.swiper-slide-active .content_wrapper .container-fluid,
.main_swiper_css .swiper-slide.swiper-slide-duplicate-active .content_wrapper .container-fluid {
    opacity: 1;
    transition: opacity .4s ease-in-out .5s;
}


.hoverTextRepeater, .hoverBgBtn {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 10px 30px;
    border-radius: 24px;
    background-color: var( --e-global-color-vamtam_accent_1);
}

.hoverBgBtn.black {
    color: #fff;
}

.hoverTextRepeater > *:first-child,
.hoverBgBtn > *:first-child {
    display: inline-block;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.hoverTextRepeater:hover > *:first-child,
.hoverBgBtn:hover > *:first-child {
    transform: translateY(-15px);
    opacity: 0;
}

.hoverTextRepeater > *:last-child {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: top .3s ease-in-out, opacity .3s ease-in-out;
}

.hoverTextRepeater:hover > *:last-child {
    top: 10px;
    opacity: 1;
}

.accordion-header {
    margin-top: 0;
}

.accordion-item {
    border-top: 1px solid #d5d8dc;
}

.accordion-flush .accordion-item .accordion-body {
    background-color: #191817;
    color: #fff;
}

.accordion-flush .accordion-item .accordion-header button:focus {
    box-shadow: none;
    background-color: #191817;
}

.accordion-button {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
}

.accordion-button::after {
    content: none;
}

.accordion-button .plus_wrapper {
    width: 10px;
    height: 10px;
    display: grid;
    place-items: center;
    position: relative;
    flex-shrink: 0;
    /* background-color: #fff; */
}

.accordion-button .plus_wrapper::before,
.accordion-button .plus_wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    transition: transform .3s ease-in;
}

.accordion-button .plus_wrapper::after {
    transform: rotate(-90deg);
}


.accordion-button:not(.collapsed) .plus_wrapper::after {
    transform: rotate(0);
}


.accordion-button:not(.collapsed) {
    background-color: #191817;
    color: #fff;
    border-bottom: none;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-header button:hover {
    background-color: #191817;
}

.accordion-flush .accordion-item:first-child {
    border-top: 1px solid #d5d8dc;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #d5d8dc;
}

.accordion-item .accordion-button:focus {
    border: none;
    box-shadow: none;
}

body .blue_color {
    color: var(--e-global-color-vamtam_accent_1);
}

body .bg_blue {
    background-color: var(--e-global-color-vamtam_accent_1);
}

.sidebar .img_wrapper {
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

#footer {
    color: #fff;
    background: var(--e-global-color-vamtam_accent_1);
}

#footer .footer-widget {
    color: #fff;
    padding: 50px 0;
    /* background-color: var(--e-global-color-vamtam_accent_1); */
}



#footer .footer-widget h4,
#footer ul li a,
#footer .footer-widget h4 a {
    color: #fff;
}

#footer .footer-widget h4,
#footer .footer-widget h4 a {
    font-size: var(--pennar-sub_heading);
}

#footer ul li {
    padding-bottom: 7px;
}

#footer ul li a {
    font-weight: 500;
}

#footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.f-logo img {
    max-width: 200px;
}

.f-social ul li a {
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    display: flex;
    padding: 8px;
}

.footer-copyright {
    display: flex;
    padding: 20px 0;
    align-content: center;
    align-items: center;
}

.bg_wrapper {
    background-color: #18246c;
}

.lastChildMargin_0 p {
    margin: 0;
    margin-bottom: 7px;
}

.lastChildMargin_0 p:last-child {
    margin: 0;
    margin-bottom: .25rem;
}

.fs-xs {
    font-size: 14px !important;
}

.client_imgs {
    max-width: 170px;
}

.invBox {
    /* border: 2px solid var(--e-global-color-vamtam_accent_1); */
    padding: 20px;
    border-radius: 12px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.map-point {
    outline: none;
    z-index: 1;
    position: absolute;
    opacity: 1;
    width: 4px;
    height: 4px;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* animation: appear 0.3s ease 0.2s 1 normal forwards; */
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
}

.map-point::before,
.map-point::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #253d97;
    border-radius: 50%;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    z-index: 0;
}

.map-point::before {
    animation: blip1 2s infinite;
}

@keyframes blip1 {
    100% {
        transform: scale(6);
        opacity: 0;
    }
}

.map-point.marker-0 {
    top: 29.4%;
    left: 16.7%;
}

.map-point.marker-1 {
    top: 31%;
    left: 22.8%;
}

.map-point.marker-2 {
    top: 46%;
    left: 17.6%;
}

.map-point.marker-4 {
    top: 32.9%;
    left: 49.2%;
}

.map-point.marker-6 {
    top: 48%;
    left: 74%;
}

.map-point.marker-7 {
    top: 50%;
    left: 73%;
}

.map-point.marker-8 {
    top: 51.2%;
    left: 72.5%;
}

.map-point.marker-9 {
    top: 52.1%;
    left: 72%;
}

.map-point.marker-10 {
    top: 53.1%;
    left: 71.8%;
}

.map-point.marker-11 {
    top: 53.9%;
    left: 71.5%;
}

.map-point.marker-12 {
    top: 55%;
    left: 71.4%;
}

.map-point.marker-13 {
    top: 55.5%;
    left: 71.2%;
}

.map-point.marker-14 {
    top: 56%;
    left: 70.8%;
}

.map-point.marker-15 {
    top: 55.5%;
    left: 70.4%;
}

.map-point.marker-16 {
    top: 54%;
    left: 70.9%;
}

.map-point.marker-17 {
    top: 55%;
    left: 70.8%;
}

.map-point.marker-18 {
    top: 53.8%;
    left: 69.8%;
}

.map-point.marker-19 {
    top: 53%;
    left: 69.4%;
}

.map-point.marker-20 {
    top: 52.5%;
    left: 69.2%;
}

.map-point.marker-21 {
    top: 51%;
    left: 69.5%;
}

.map-point.marker-22 {
    top: 51.7%;
    left: 69.4%;
}

.map-point.marker-23 {
    top: 55%;
    left: 70%;
}

.map-point.marker-24 {
    top: 49.8%;
    left: 69.9%;
}

.map-point.marker-25 {
    top: 49.7%;
    left: 70.4%;
}

.map-point.marker-26 {
    top: 49%;
    left: 71%;
}

.map-point.marker-27 {
    top: 50%;
    left: 69.2%;
}


#stopScale .elementor-motion-effects-container {
    display: none !important;
}

#stopScale .contact_us {
    position: absolute;
}

.clippy_box_h {
    height: 440px !important;
}

.clippySwiperBtns {
    position: absolute;
    right: 30px;
}

.clippy_box_h .elementor-flip-box__layer {
    background-image: none !important;
}
.clippy_box_h .elementor-element-populated {
    padding: 0;
}

.clippySwiperBtns button {
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: #000;
    border-radius: 50% !important;
}

.clippySwiperBtns button:disabled {
    opacity: .5;
}

.clippySwiperBtns button:hover,
.clippySwiperBtns button:active {
    border-radius: 50%;
}

.clippySwiperBtns button.clippy-prev {
    transform: rotate(180deg);
}

.fixedBtns {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.fixedBtns button {
    padding: 14px 10px;
    text-transform: none;
    background-color: #18246c;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl; /* Safari and Chrome */
    -ms-writing-mode: tb-rl;
}


.callIcon {
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    z-index: 99;
    padding: 5px;
    border-radius: 50%;
    border: 5px solid #fff;
    display: inline-block;    
    box-shadow: 0px 0 30px rgba(26, 54, 85, 0.20);
    background-color: #253d97;
}

.callIcon img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}


.customModal {
    position: fixed;
    inset: 0;
    z-index: 1099;
    display: grid;
    place-items: center;
    transform: translateX(-100%);
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    transition: transform 0s ease-in .3s, background-color .3s ease-in, opacity .2s ease-in;
}

.customModal.active {
    opacity: 1;
    transform: translateX(0);
    transition: background-color .3s ease-in, opacity .3s ease-in;
}

.customModal .modalBody {
    padding: 20px 40px;
    border-radius: 12px;
    min-width: 50%;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform .3s ease-in, opacity .2s ease-in;
}

.customModal.active .modalBody {
    opacity: 1;
    transform: translateY(0);
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.mainForm input,
.mainForm textarea {
    width: 100%;
    padding: 10px 12px 10px 17px;
    outline: none !important;
    background-color: #f8f8fa;
    border: 1px solid #f8f8fa;
}

.mainForm input:focus,
.mainForm textarea:focus {
    background-color: #fff;
    border: 1px solid #253d97 !important;
}

.mainForm button {
    width: fit-content;
    color: #fff;
    padding: 7px 14px !important;
    border: 1px solid #fff !important;
    background-color: #253d97 !important;
}

.mainForm button:hover {
    border: 1px solid #253d97 !important;
    color: #000;
    background-color: #fff !important;
}

.mainForm button::after  {
    content: none !important;
}

.map_wrapper {
    width: 100%;
    min-height: 500px;
}

.map_wrapper .map_itself {
    position: absolute;
    inset: 0;
}

.map_wrapper svg {
    width: 100%;
    height: 100%;
    color: #c1c8e4;
    /* color: #253d97; */
}
/* 
.map_wrapper svg #US,
.map_wrapper svg #FR,
.map_wrapper svg #IN {
    color: #86cde9;
} */


.map_section {
    background-color: var(--bg-pink);
    /* padding-top: 100px; */
    color: var(--off-white);
    position: relative;
}

.map_section .sec_heading {
    line-height: 1.1;
}

.map_section .gray {
    color: var(--off-white);
    background-color: #5ab9ea77;
    padding: 7px 15px;
    font-size: 12px;
    width: fit-content;
    margin-inline: auto;
    font-weight: 500;
}

.map_section .img_wrapper {
    position: relative;
    min-height: 500px;
    max-width: 100%;
    margin-top: 50px;
    background-color: #5ab9ea33;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: 100% 50%;
}

.map_section .img_wrapper .img_itself {
    position: absolute;
    inset: 0;
}

.map_section .img_wrapper .img_itself svg {
    width: 100%;
    color: #5ab9ea;
    object-fit: cover;
    height: 100%;
}

.map_section .img_wrapper .img_itself svg path {
    transition: fill .25s ease-in-out;
}

  
.map_section .input_wrapper {
    width: 100%;
    background-color: #5680e996;
    backdrop-filter: blur(4px);
    border: 1px solid #FBFAF266;
    max-width: 400px;
    padding: 10px 14px;
    position: absolute;
    z-index: 2;
    transition: border .1s ease-in-out
}

.map_section .input_wrapper:hover {
    border: 1px solid ;
}

.map_section .input_wrapper.focus {
    box-shadow: 0px 0px 0px 4px rgba(90, 185, 234, .16)
}

.map_section .input_wrapper input {
    z-index: 2;
    background-color: transparent;
    outline: none;
    border: none !important;
    padding: 10px 0 !important;
    font-size: 16px !important;
    width: 100%;
    font-weight: 600 !important;
}

.map_section .input_wrapper input::placeholder {
    color: #FBFAF292;
}

.map_section .input_wrapper input:focus + div div.icon_wrapper {
    transform: translateY(-50%) rotate(180deg);
}

.map_section .input_wrapper .icon_wrapper {
    display: grid;
    place-items: center;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: top .2s ease-in-out, opacity .3s ease-in-out, transform .2s ease-in-out;
}

.map_section .input_wrapper .icon_wrapper.hide {
    top: -10%;
    opacity: 0;
    transition: top .2s ease-in-out, opacity .3s ease-in-out;
}

.map_section .input_wrapper .x_mark {
    transform: translateY(5px);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .1s ease-in-out;
}

.map_section .input_wrapper .x_mark.show {
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s ease-in-out, opacity .1s ease-in-out;
}

.map_section .input_wrapper .icon_wrapper.rotate {
    transform: rotate(0);
}

.map_section .list_div {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    background: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    transition: opacity .2s ease-in-out, transform .3s ease-in-out, visibility .2s ease-in-out;
}

.map_section .list_div.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out, transform .3s ease-in-out, visibility .2s ease-in-out;
}

.map_section .list_div button {
    background-color: #253d97;
    padding: 7px;
    width: 100%;
    opacity: 1;
    color: #fff;
    transform-origin: top;
    transition: transform .2s ease-in-out;
}

.map_section .list_div button.hide {
    transform: scaleY(0);
    display: none;
    transition: transform .2s ease-in-out;
}

.map_section .list_div button:hover {
    background-color: #253d97;
}

.map_section .list_div button.focus {
    background: #5ab9ea;
    color: #fff;
}

.map_section .img_wrapper .content {
    width: 100%;
    min-height: 350px;
    max-width: 400px;
    position: absolute;
    bottom: 30px;
    background-color: #c1c8e4bd;
    transform: translateY(-20px);
    opacity: 0;
    color: #333333;
    visibility: hidden;
    transition: opacity .2s ease-in-out, transform .3s ease-in-out, visibility .2s ease-in-out;
}

.map_section .img_wrapper .content.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in-out, transform .3s ease-in-out, visibility .2s ease-in-out;
}

.map_section .img_wrapper .content p{
    color: #33333399;
    margin-bottom: 5px;
}

.map_section .img_wrapper .content .white {
    color: #333333;
}

.projectsSwiper .swiper-slide {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectsSwiper .swiper-slide .img_wrapper {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.projectsSwiper .swiper-slide .img_wrapper .absolute_block {
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: #fff;
}

.projectsSwiper .swiper-slide .img_wrapper .absolute_block .icon_wrapper {
    padding: 23px 23px 23px 55px;
    position: relative;
    z-index: 2;
    transition: color .4s ease-in;
}

.projectsSwiper .swiper-slide .img_wrapper .absolute_block .icon_wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 0;
    background-color: #253d97;
    transition: width .4s ease-in;
}

.projectsSwiper .swiper-slide:hover .img_wrapper .absolute_block .icon_wrapper {
    color: #fff;
}

.projectsSwiper .swiper-slide:hover .img_wrapper .absolute_block .icon_wrapper::before {
    width: 100%;
}

.projectsSwiper .swiper-slide .title {
    font-size: var(--pennar-sub_heading);
    margin-top: 20px;
}

.projectsSwiper .swiper-slide .content p {
    font-size: 14px;
    color: #3f444b;
}

.pennar-main_heading {
    font-weight: bold !important;   
    font-size: var(--pennar-main_heading) !important;
}

.pennar-sub_heading {
    font-size: var(--pennar-sub_heading) !important;
}

.pennar-text {
    /* font-weight: 400 !important; */
    font-size: var(--pennar-text) !important;
}

#card-1-pennar .elementor-flip-box__layer {
    background-image: url("./images/pennar-card-1.png");
}


#card-2-pennar .elementor-flip-box__layer {
    background-image: url("./images/pennar-card-3.png");
}

@media only screen and (min-width: 1100px) {
    div[data-elementor-id="1057"]:nth-child(3) > section {
        margin-top: 120px !important;
    }


    div[data-elementor-id="1057"]:nth-child(4) > section {
        margin-top: 240px !important;
    }
}

.projectsSwiper .swiper-slide {
    /* opacity: 0; */
    clip-path: polygon(0% 100%, 100% 150%, 100% 100%, 0% 100%);
    transition: clip-path 1s ease-in, opacity .1s ease-in;
}

.projectsSwiper.animateSlides .swiper-slide {
    opacity: 1;
    clip-path: polygon(0% -50%, 100% 0%, 100% 100%, 0% 100%);
}

.textOnImgBlock .headingOnImg {
    position: relative;
    z-index: 2;
}

.textOnImgBlock .img_wrapper {
    transform: translateY(calc(clamp(25px, 5vw, 45px) * -1));
    max-width: 700px;
    border-radius: 20px;
    overflow: hidden;
}